@mixin inline-block() {
    display:inline-block;
    *display:inline;
    zoom:1;
}

@mixin opacity( $value: 0.5 ) {
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" $value * 100 ")";
  filter: alpha(opacity= $value * 100 );
  -moz-opacity: $value;
  -khtml-opacity: $value;
  zoom: 1;
}

$vendors: "-webkit-" "-moz-" "-o-" "";

@mixin vendorize($property, $values...) {
  @each $vendor in $vendors {
    #{$vendor}#{$property}: $values;
  }
}

@mixin animation-duration($arguments...) {
  @include vendorize(animation-duration, $arguments);
}

@mixin animation-fill-mode($arguments...) {
  @include vendorize(animation-fill-mode, $arguments);
}

@mixin animation-name($arguments...) {
  @include vendorize(animation-name, $arguments);
}

.animated {
  @include animation-duration(1s);
  @include animation-fill-mode(both);
}

@mixin fade-down-in($vendor: "") {
  0% {
    @include opacity(0);
    #{$vendor}transform: translateY(-20px);
  }
  100% {
    @include opacity(1);
    #{$vendor}transform: translateY(0);
  }
}

@keyframes fade-down-in {
  @include fade-down-in;
}

@-webkit-keyframes fade-down-in {
  @include fade-down-in(-webkit-);
}

@-o-keyframes fade-down-in {
  @include fade-down-in(-o-);
}

@-moz-keyframes fade-down-in {
  @include fade-down-in(-moz-);
}

.fade-down-in {
  @include animation-name(fade-down-in);
}

@mixin fade-in($vendor: "") {
  0% {
    @include opacity(0);
  }
  100% {
    @include opacity(1);
  }
}

@keyframes fade-in {
  @include fade-in;
}

@-webkit-keyframes fade-in {
  @include fade-in(-webkit-);
}

@-o-keyframes fade-in {
  @include fade-in(-o-);
}

@-moz-keyframes fade-in {
  @include fade-in(-moz-);
}

.fade-in {
  @include animation-name(fade-in);
}



$bg_colour:             #161616;

html {
    background:         $bg_colour;
    height:             100%;
}

body {
    font: 300 62.5% 'Open Sans', sans-serif;
    line-height:62.5%;
    color:#e3e3e3;
    margin:0;
    padding:0;
    height:             100%;
}

.container {
    @media (max-width: 800px) {
        font-size: 90%;
    }
}

h1 { 
    font-size: 5.5em; 
    line-height:1.1em;
    display:block;
    padding:0 0 20px;
    font-weight:300;
    color:#fff;

    @media (max-width: 700px) {
      padding:0;
    }
}

p { 
    font-size:2em; 
    line-height:2.1em;

    @media (max-width: 700px) {
      line-height:2em;
    }
}

a {
    font: italic bold 1.2em 'Gentium Basic', serif;
    color:#fff;
    letter-spacing:.06em;
    text-decoration:none;
    @include inline-block();
    border-bottom:1px solid #444;
    padding:0 1px;
    @include vendorize(transition, border .25s ease-in);
}

a:hover {
    border-bottom:1px solid #fff;
}

.container {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
}

.bio { 
    @include opacity(0);
    position:absolute; 
    bottom:85px;
    left:75px;
    max-width:400px;
    width:55%;

    @media (max-width: 800px) {
        bottom:65px;
        left:55px;
    }

    @media (max-width: 700px) {
        bottom:0;
        max-width:100%;
        width:100%;
        left:0;
        @include vendorize(box-sizing,border-box);
        padding:30px 30px 5px;
    }
}

.fade {
    position:absolute;
    width:100%;
    height:100%;
    bottom:0;
    top:0;
    background: url(../../assets/img/f.png) no-repeat top center fixed; 
    @include vendorize(background-size, cover);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../assets/img/f.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../assets/img/f.png', sizingMethod='scale')";

    @media (max-width: 700px) {
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.59) 59%, rgba(0,0,0,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(59%,rgba(0,0,0,0.59)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.59) 59%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.59) 59%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.59) 59%,rgba(0,0,0,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.59) 59%,rgba(0,0,0,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    }
}

.photo {
    @include opacity(0);
    position:absolute;
    width:100%;
    height:100%;
    bottom:0;
    top:0;
    background: url(../../assets/img/is.jpg) no-repeat top center fixed; 
    @include vendorize(background-size, cover);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../assets/img/is.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../assets/img/is.jpg', sizingMethod='scale')";

    @media (max-width: 700px) {
        background-position: 80% top;
    }

    @media (max-width: 425px) {

    }
}